/platform/
/branding/
/nbproject/
/TwitterImporter/
/build/
/commons-lang/*
/scribe/*
/commons-codec/build/
/scribe/nbproject/private/
/scribe-1.3.5/build/
/TwitterImporter/nbproject/private/
/mongo-java-driver/build/
/morphia-0.101.1-SNAPSHOT/build/
/morphia-0.99/*
/mongo-2.6.5/*
/morphia-0.101.1-SNAPSHOT/*
/morphia-101/*
/morphia123/*
/jfxrt/*
/datasift-java/*
/GeoLayout/build/
/GeoLayout/nbproject/private/
/MapOfCountries/build/
/MapOfCountries/nbproject/private/
/ExcelCsvImporter/nbproject/private/
/ExcelCsvImporter/build/
/ClientLocal/*
/ClientLocal/build/
/ClientLocal/dist/
/WebApplication1/*
/Client/*
/ScientometricsOverlayToolkit/build/
/ScientometricsOverlayToolkit/nbproject/private/
ScientometricsOverlayToolkit/private/
/GiveColorToNodes/build/
/GiveColorToNodes/nbproject/private/
/AndroidApplication1/gen/
/AndroidApplication1/bin/
/TestDynamicGephi/*
/IRI/nbproject/private/
/IRI/build/
/IRI/dist/
/Tiles/nbproject/private/
/Tiles/Tiles-war/nbproject/private/
/Tiles/Tiles-ejb/nbproject/private/
/Tiles/Tiles-war/build/
/Tiles/Tiles-ejb/build/
/Tiles/Tiles-ejb/dist/
/Tiles/build/
/Tiles/Tiles-war/dist/
/Tiles/Tweetiles/nbproject/private/
/Tiles/Tweetiles/dist/
/Tiles/Tweetiles/build/